.Dark {
  --primary: #000000;
  --secondary: #202020;
  --terciary: #606000;
  --highlight: #ffaa00;
  --txtPrimary: #ffffff;
  --txtSecondary: #ffffff;
  --dim: #606060;
}

.Light {
  --primary: #ffffff;
  --secondary: #202020;
  --terciary: #cccccc;
  --highlight: #00ff90;
  --txtPrimary: #202020;
  --txtSecondary: #ffffff;
  --dim: #606060;
}